{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit {{ playlist.name }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/jpeg" href="{% static 'images/logo.jpg' %}?v=1">
</head>
<body>
    <header style="display: flex; align-items: center; justify-content: center; padding: 30px 20px;">
        <a href="{% url 'home' %}" style="text-decoration: none; display: flex; align-items: center;">
            <img src="{% static 'images/logo.jpg' %}"
                alt="UniMus Logo"
                class="main-logo">

            <span class="logo-text-styled">
                UniMus
            </span>
        </a>
    </header>
    <h1>Edit Playlist</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>

    <a href="{% url 'view_playlist' playlist.pk %}">← Back</a>
</body>
</html>
